{% extends 'website/base.html' %}
{% load thumbnail %}

{% block meta %}
<title>{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }} - {{ config.BLOG_NAME }}{% endif %}</title>
{% if page.seo_description %}<meta name="description" content="{{ page.seo_description }}"/>{% endif %}
{% if page.seo_noindex %}<meta name="robots" content="noindex">{% endif %}
{% endblock meta %} 

{% block content %}
<div class="container">
	<div class="row no-gutters">
		<div class="col page-content">
			<h1>{{ page.title }}</h1>
			{% if request.user.is_superuser %}
			<a href="{% url 'admin:blog_page_change' page.pk %}" target="_blank">Edit page</a>
			{% endif %}
			<hr>
			{% autoescape off %}
				{{ page.content }}
			{% endautoescape %}
		</div>
	</div>
</div>
{% endblock content %}
