{% extends 'website/base.html' %}
{% load thumbnail %}

{% block meta %}
<title>{{ page_title }}</title>
{% if page_description %}<meta name="description" content="{{ page_description }}"/>{% endif %}
{% if page.seo_noindex %}<meta name="robots" content="noindex">{% endif %}
{% endblock meta %} 

{% block content %}
<div class="container page-content">
	<div class="row no-gutters">
		<div class="col page-content">
			<h1>{{ page.title }}</h1>
			{% if request.user.is_superuser %}
			<a href="{% url 'admin:blog_page_change' page.pk %}" target="_blank">Edit page</a>
			{% endif %}
			<hr>
			{% autoescape off %}
				{{ page.content }}
			{% endautoescape %}
		</div>
	</div>
</div>
{% endblock content %}
