{% extends 'website/base.html' %}
{% block content %}
<div align="center">
        <header id="header">
            <hgroup>
                <h1><a href="http://html5media.info/">HTML5 video was meant to be this easy</a></h1>
                <h2>html5media enables &lt;video&gt; and &lt;audio&gt; tags in all major browsers</h2>
            </hgroup>
            <div class="videos">
                <div class="grid_8">
                    <video id="video" class="video" poster="/html/dist/media/poster.jpg" width="638" height="347" controls preload>
                        <source src="/html/dist/media/video.mp4" type="video/mp4" media="only screen and (min-device-width: 588px)"></source>
                        <source src="/html/dist/media/video.iphone.mp4" type="video/mp4" media="only screen and (max-device-width: 588px)"></source>
                        <source src="/html/dist/media/video.ogv" type="video/ogv"></source>
                    </video>
                </div>
                <div class="grid_4" align="left">
                    <p>All it takes is a single line of code to make HTML5 video and audio tags work in all major browsers.</p>
                    <ul>
                        <li>Nothing to install.</li>
                        <li>Works in all browsers and phones.</li>
                        <li>One of the fastest solutions available.</li>
                    </ul>
                    <audio id="audio" class="audio" controls preload>
                        <source src="/html/dist/media/audio.mp3"></source>
                        <source src="/html/dist/media/audio.ogg"></source>
                    </audio>
                </div>
                <div class="clear"></div>
            </div>
        </header>
	    <div align="center">
                <a href="javascript:void(0)" onclick="change_video(this)" playurl="/html/dist/media/1C670164D5ACC70AA7AC327F2C77BBBC.mp4">1C670164D5ACC70AA7AC327F2C77BBBC.mp4</a> <br>
                <a href="javascript:void(0)" onclick="change_video(this)" playurl="/html/dist/media/F8080164F10E4B6505790B89797BAF05.mp4">F8080164F10E4B6505790B89797BAF05.mp4</a> <br>
		        <a href="javascript:void(0)" onclick="change_video(this)" playurl="/html/dist/media/video.mp4">video.mp4</a> 
	    </div>
        <div align="center">
          {% for video in all_videos %}
            <div id="slide-{{ video.pk }}" class="divvideo" border=1px>
                    <a href="javascript:void(0)" onclick="change_video(this)" playurl="/media/{{ video.video }}">
                        <img  width="250" height="250" src="/media/{{ video.video_thumbnail }}" alt="{{ video.description }}"><br>
                    </a>
                    <a href="javascript:void(0)" onclick="change_video(this)" playurl="/media/{{ video.video }}">{{ video.description }}</a>
                    <br>{{ video.tags }}     {{ video.date }}</br>
            </div>
          {% endfor %}
        </div>
        <div class="clear"></div>
</div>
{% endblock content %}
