{% extends 'website/base.html' %}
{% block content %}
<div align="center">
        <header id="header">
            <hgroup>
                <h1><a href="http://html5media.info/">HTML5 video was meant to be this easy</a></h1>
                <h2>html5media enables &lt;video&gt; and &lt;audio&gt; tags in all major browsers</h2>
            </hgroup>
            <div class="videos">
                <div class="grid_8">
                    <video id="video" class="video" poster="/html/dist/media/poster.jpg" width="618" height="347" controls preload>
                        <source src="/html/dist/media/video.mp4" type="video/mp4" media="only screen and (min-device-width: 568px)"></source>
                        <source src="/html/dist/media/video.iphone.mp4" type="video/mp4" media="only screen and (max-device-width: 568px)"></source>
                        <source src="/html/dist/media/video.ogv" type="video/ogv"></source>
                    </video>
                </div>
                <div class="grid_4">
                    <p>All it takes is a single line of code to make HTML5 video and audio tags work in all major browsers.</p>
                    <ul>
                        <li>Nothing to install.</li>
                        <li>Works in all browsers and phones.</li>
                        <li>One of the fastest solutions available.</li>
                    </ul>
                    <audio id="audio" class="audio" controls preload>
                        <source src="/html/dist/media/audio.mp3"></source>
                        <source src="/html/dist/media/audio.ogg"></source>
                    </audio>
                </div>
                <div class="clear"></div>
            </div>
        </header>
	    <div>
		  <a href="javascript:void(0)" onclick="change_video(this)">1C670164D5ACC70AA7AC327F2C77BBBC.mp4</a> 
		  <a href="javascript:void(0)" onclick="change_video(this)">F8080164F10E4B6505790B89797BAF05.mp4</a> 
		  <a href="javascript:void(0)" onclick="change_video(this);">video.mp4</a> 
	    </div>
</div>
{% endblock content %}
