{% extends 'website/base.html' %}
{% load widget_tweaks %}

{% block meta %}
<title>{{ page_title }} - {{ config.BLOG_NAME }}</title>
<meta name="description" content="{{ description }}">
{% endblock meta %}


{% block content %}
<div class="container">
	<div class="row no-gutters">
        <div class="col-md-12 page-lead">
            <h1>{{ page_title }}</h1>
			<p>{{ description }}</p>
			<hr>
        </div>
    </div>
	<div class="row no-gutters">
		<div class="col-md-12 contact-page">
		    {% if messages %}
			    {% for message in messages %}
			        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
			            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			            {{ message }}
			        </div>
			    {% endfor %}
		    {% endif %}
		    <form method="post">{% csrf_token %}
	            {{ form.non_field_errors }}
	            <div class="form-group">
	                {{ form.errors }}
	                {% render_field form.from_email class+="form-control" placeholder="Email:" %}
	            </div>
	            <div class="form-group">
	                {% render_field form.message class+="form-control" placeholder="Message:" rows=7 %}
	            </div>
	            <button type="submit" class="btn btn-dark">Send message</button>
		    </form>
		</div>
	</div>
</div>
{% endblock content %}
