{% load tagging_tags %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
<div class="container mb-0 py-0">
  <a class="navbar-brand" href="{% url 'homepage-view' %}">{{ config.BLOG_NAME }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if view == 'homepage-view' %}active{% endif %}">
        <a class="nav-link" href="{% url 'homepage-view' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% for item in nav_items %}
      <li class="nav-item">
        <a class="nav-link {% if item.slug in request.path %}active{% endif %}" href="{% url 'page-view' slug=item.slug %}">{{ item.title }}</a>
      </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link {% if view == 'contact-page' %}active{% endif %}" href="{% url 'contact-page' %}">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:logout' %}?next=/">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>
